.cardContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.cardContent{
    box-shadow: 0px 5px 5px #e9e9e9;
    border-radius: 10px;

}
.cardContainer img{
    width: 100%;
    height: 350px;
    border-color: white;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.cardText{
    padding: 2% 12px;
    text-align: center;
}
.bigText{
    font-size: 35px;
    font-weight: 800;
    color: #457DC3;
}
.smallText{
    padding: 5% 0;
}