.container{
    padding: 0 8rem;
    margin-bottom: 3rem;
}
.title{
    color: var(--blue1);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.flexContainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.flexBox{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    padding: 0 2rem 0 3rem;
    align-items: center;
}
.flexBox>img{
    width: 10px;
    height: 10px;
    aspect-ratio: 1;
}