.container{
    padding: 0 5rem;
    text-align: center;
}
.title{
    color: var(--blue1);
    font-size: 36px;
    font-weight: 700;
}
.gridContainer{
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.5rem 3.5rem;
}
.itemBox{
    display: flex;
    flex-direction: column;
}
.iconContainer{
    background-color: #F7FAFC;
    border-radius: 50%;
    aspect-ratio: 1;
    height: 50px;
    width: 50px;
    margin: auto;
    padding: 23px;
    border: 1px solid #D8E7F3;
}
.iconContainer>img{
    max-width: 45px;
    max-height: 45px;
}
.textBox, .textBoxBg{
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 2.5rem 3rem 1rem;
    margin-top: -50px;
    z-index: -1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.textBox{
    background: #D8E7F3;
}
.textBoxBg{
    background-image: url("../../../assets/Parent/Stethoscope.png");
    background-position: center;
    background-size: cover;
}
.text{
    font-size: 19px;
    font-weight: 500;
    color: var(--dark-grey);
}
