.container{
    padding: 2rem 5rem;
    text-align: center;
}
.title{
    color: var(--blue1);
    font-size: 36px;
    font-weight: 700;
}
.gridContainer{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 8rem 3.5rem;
}
.gridBox{
    display: flex;
    flex-direction: column;
    position: relative;
}
.iconContainer{
    background-color: #F7FAFC;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 23px;
    border: 1px solid #D8E7F3;
}
.textBox, .textBoxBg{
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 2.5rem 1.5rem;
    position: absolute;
    top: 50px;
    z-index: -1;
    box-sizing: border-box;
    width: 100%;
    height: 150%;
}
.textBox{
    background: #D8E7F3;
}
.textBoxBg{
    background-image: url("../../../assets/Parent/Stethoscope.png");
    background-position: center;
    background-size: cover;
}
.text{
    font-size: 19px;
    font-weight: 500;
    color: var(--dark-grey);
    margin-top: 5%;
}
.gridBox:nth-child(3)>.textBoxBg>.text{
    padding: 0 1rem;
}
.gridBox:nth-child(4)>.textBox>.text{
    padding: 0 3.55rem;
}
